/*
    ______       __ _ 
    | ___ \     / _(_)
    | |_/ /___ | |_ _ 
    |    // _ \|  _| |
    | |\ | (_) | | | |
    \_| \_\___/|_| |_|
                  
    File: config.rasi
    Author: Aaron Crawley
    Based on: https://github.com/adi1090x/rofi              
*/

configuration {
    hover-select: true;
    me-select-entry: "MousePrimary";
    me-accept-entry: "!MousePrimary";
    kb-cancel: "Escape,MouseSecondary";
    click-to-exit: true;
}